
<div class="w3-bar w3-top">
  <div style="clear: both">
    <h1 style="float: left">Chew.</h1>
    <h3 class="tagline" style="float: left">A journal for the culinary connoisseur.</h3>
  </div>
</div>

<div class="spacer">
    <p></p>
</div>

<div class="body-content">

<div class="table-background">

  <div class="w3-card"><h2>To Visit.</h2></div>

  <table class="w3-table w3-bordered w3-border w3-centered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Location</th>
          <th>Price</th>
          <th>Rating</th>
          <th>Visited?</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>
      </thead>
    {{#each restaurants}}
      {{#unless devoured}}
        {{> restaurants/rest-block visit=true}}
      {{/unless}}
    {{/each}}
  </table>

<div class="w3-card"><h2>Dined &amp; Devoured.</h2></div>

<table class="w3-table w3-table-hover w3-bordered w3-border w3-centered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Location</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Visited?</th>
        <th>Update</th>
        <th>Remove</th>
      </tr>
    </thead>
{{#each restaurants}}
    {{#if devoured}}
      {{> restaurants/rest-block visit=false}}
    {{/if}}
  {{/each}}
</table>
</div>

<div style="clear: both" class="btn-div">

    <button onclick="document.getElementById('add-modal').style.display='block'" class="w3-button w3-right w3-card-4 add-update" style="float: left">Add A Restaurant</button>
  
     {{!-- <button href="#" class="w3-button w3-right w3-card-4 add-update" style="float: left">Update A Restuarant</button> --}}
</div>



<!-- The Add Restaurant Modal -->

<div id="add-modal" class="w3-modal w3-display-middle">
  <div class="w3-modal-content">
    <div class="w3-container">
      <h1 class="modal-head">Add A Restaurant</h1>  
      <form>
        <div class="form-group">
          <label for="rest">Name:</label>
          <input class="w3-input" type="text" id="name" name="name">
        </div>
        <div class="form-group">
          <label for="rest">Type:</label>
          <input class="w3-input" type="text" id="type" name="type">
        </div>
        <div class="form-group">
          <label for="rest">Location:</label>
          <input class="w3-input" type="text" id="location" name="location">
        </div>
        <div class="form-group">
          <label for="rest">Price Range ($-$$$$):</label>
          <input class="w3-input" type="text" id="price" name="price">
        </div>
        <div class="form-group radio-field">
              <label for="devoured">Dined Here?</label><br>
              <label>Yes!</label>
              <input class="w3-input" type="radio" name="devoured" value="1" checked>
              <label>Not yet.</label>
              <input class="w3-input" type="radio" name="devoured" value="0">
        </div>
        <div class="form-group">
          <label for="rest">Rating 1—10:</label>
          <input class="w3-input" type="text" id="rating" name="rating">
        </div>
      </form>

      <button type="submit" class="add-restaurant w3-card-4 w3-left">Add</button>
      <span onclick="document.getElementById('add-modal').style.display='none'" 
      class="w3-button w3-display-topright">&times;</span>
    </div>
  </div>
</div>

<!-- The Update Restaurant Modal -->
<div id="update-modal" class="w3-modal w3-card-4 w3-animate-opacity w3-display-middle">
  <div class="w3-modal-content w3-animate-opacity">
    <h1 class="modal-head">Under construction.</h1>
     <span onclick="document.getElementById('update-modal').style.display='none'" 
      class="w3-button w3-display-topright">&times;</span>
  </div>
</div>

<div class="w3-bar w3-bottom">
</div>

{{!-- <h2>Update A Restaurant</h2>
<form id="update-restaurant" class="button-size">
  <select name="id">
		{{#each restaurants}}
			<option value="{{this.id}}">{{this.name}}</option>
		{{/each}}
	</select>
  <textarea type="text" name="restaurant" placeholder="restaurant"></textarea>
</form> --}}


