.w3-table {
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(115, 153, 165);
  /* RGBa with 0.6 opacity */
  background-color: rgba(227, 249, 255, 0.7);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}


body {
  background-image: url(../img/interior.jpg);
  background-size:cover;
  font-family: 'Markazi Text', serif;
  font-size: 28px;
}

h1, h2, h3 {
  color: white;
  margin: 10px;
  font-family: 'Knewave', cursive;
}

span {
  color: white;
}

table {
  color: #566868;
  width: 100% !important;
  margin-top: 30px;
}

td {
  font-size: 24px;
  margin: 20px;
}

.add, .update, .add-update, .add-restaurant {
  background: #7e9a9a;
  margin: 20px;
  font-size: 18px;
  color: white;
}

.body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.btn-div{
  width: 200px;
}

.form-group {
  margin: 20px;
}

.label {
  font-weight: bold;
}

.spacer
{
    width: 100%;
    height: 35px;
}

.tagline {
  color: white;
  margin-top: 24px;
  font-family: 'Knewave', cursive;
}

.w3-bar {
  background: #566868;
};

.w3-button {
  background: rgb(255, 255, 255);;
  margin: 10px;
  font-size: 18px;
  color: #7e9a9a;
}

.w3-bottom {
  height: 10px;
}

.w3-card {
  background: #7e9a9a;
  /* margin: 20px; */
}

.w3-modal {
  max-width: 80%;
  max-height: 80%;
  color: #566868;
  padding: 0;
  font-size: 22px;
  background: #7e9a9a;
}

.update-modal {
  max-width: 50%;
  max-height: 50%;
}

.modal-head {
  color: #7e9a9a;
  font-size: 28px;
  margin: 20px;
  justify-content: center;
}

.w3-modal-content {
  width: 100%;
  height: 100%;
}


