li {
    padding: 5px;
    margin: 20px;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
    width: 60%;
  }

  table {
    margin: 30px;
    width: 80%;
  }
  
  .label {
    font-weight: bold;
  }
  
  .form-group {
    margin: 20px;
  }

  .modal-head, .modal-foot {
    /* background-image: url(../img/planks.jpg);
    background-size:cover; */
    background: #4e6363
  }

  .w3-panel {
    width: 60%;
    margin: 20px;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
    color: white;
  }

  .w3-bar {
    background: #7e9a9a;
  }

  .w3-button {
    background: white;;
    margin: 10px;
    font-size: 18px;
    color: rgb(2, 2, 2);
  }

  .add-update {
    background: #7e9a9a;;
    margin: 20px;
    font-size: 24px;
    color: white;
  }
  
  body {
    background-image: url(../img/interior.jpg);
    background-size:cover;
    font-family: 'Markazi Text', serif;
    font-size: 28px;
  }

  .body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
  }

.tagline {
    color: white;
    margin-top: 23px;
    font-family: 'Knewave', cursive;
  }

h1, h3 {
  color: white;
  margin-left: 20px;
  font-family: 'Knewave', cursive;
}

h2 {
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Knewave', cursive;
  padding: 10px;
  background: #7e9a9a;
}

.spacer
{
    width: 100%;
    height: 35px;
}

.btn-div{
  width: 200px;
}
